@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
body {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: #f4f4f4;
}

/* Sidebar styling */
.sidebar {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    width: 80px;
    display: flex;
    justify-content: top;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    position: fixed;
    top: 0;
    bottom: 0;
    font-size: 80px;
    margin-top: 15px;
}

/* Main content area */
.main-content {
    margin-left: 80px;
    padding: 20px;
    overflow-y: auto;
    flex: 1;
    background-color: #f4f4f4;
}

.content-section {
    margin-bottom: 50px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content-section h2 {
    margin: 0 0 10px;
}

.image {
    object-fit:cover;
    width: 100%;
    border-radius: 20px;
    transition: .25s;
    margin-bottom: 20px;
}

.pfp {
    object-fit: cover;
    width: 100%;
    border-radius: 100%;
}

img:hover {
    transform: scale(1.01);
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .sidebar {
        writing-mode: horizontal-tb;
        text-orientation: mixed;
        width: 100%;
        position: static;
        justify-content: center;
        padding: 5px 0;
        font-size: 11.2vw;
    }

    .main-content {
        margin-left: 0;
        flex: none;

        padding-top: 0px;
    }
}